@import "../../scss/variables";
@import "../../scss/mixins";

.footerContainer {
  background-color: $primary-color;

  justify-content: center;

  @include md {
    flex-direction: row;
  }

  flex-direction: column;

  > .imageContainer {
    width: 30%;
    @include md {
      width: 10%;
    }

    > img {
      max-width: 100%;
    }
  }

  > p {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
