@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  justify-content: center;

  position: relative;

  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;

    position: relative;

    > div {
      > .aboutImage {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
          url(../../assets/images/about-img.jpg);
        height: 300px;
        width: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        > h2 {
          color: #eee;
          font-size: 4rem;
          font-family: "Montserrat", sans-serif;

          > span {
            display: block;
            text-align: center;
            text-transform: capitalize;

            margin-top: 1rem;
          }
        }
      }
    }
  }

  > .info_grid_container {
    display: grid;

    @include md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
    }

    margin-top: 2rem;

    > .grid_item {
      height: 300px;
      width: 300px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
      border-radius: 10px;

      &.grid_item_one {
        grid-column: 1 / span 2;
        grid-row: 1;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 1.5rem;
        > h2 {
          font-size: 3.2rem;

          color: $primary-color;

          margin-bottom: 1.5rem;
        }
        > button {
          background-color: #000;
          color: $primary-color;

          padding: 0.8rem 3rem;
          width: fit-content;

          font-size: 1.5rem;

          border-radius: 5px;
          border: none;

          cursor: pointer;

          transition: all 0.15s ease-in-out;

          &:hover {
            background-color: #242323;
          }
        }
      }

      &.grid_item_two {
        grid-column: 3;
        grid-row: 1;
        // width: 100%;

        > .about_list_wrapper {
          padding: 2rem 1rem;

          display: flex;
          flex-direction: column;
          justify-content: center;

          > .about_list_item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-bottom: 1.5rem;
            }

            > h3 {
              margin-left: 2rem;

              font-size: 1.5rem;
            }
          }
        }
      }

      &.grid_item_three {
        grid-column: 1 / span 3;
        grid-row: 2;
        width: 100%;
        height: 100%;

        display: flex;
        // justify-content: center;
        // align-items: center;

        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: rgba(0, 0, 0, 0.8);
          pointer-events: none; // Allows interaction with the video
          z-index: 1;
        }

        > video {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          z-index: 0;
        }

        > .marquee {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          box-sizing: border-box;

          display: flex;
          justify-content: center;
          align-items: center;

          > p {
            position: relative;

            z-index: 10;

            font-size: 2.8rem;
            font-weight: bold;

            color: #eee;

            animation: marquee 10s linear infinite;
          }
        }

        @keyframes marquee {
          from {
            transform: translateX(100%);
          }

          to {
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}
