@import "../../scss/variables";
@import "../../scss/mixins";

.nav__container {
    background-color: $primary-color;

    justify-content: space-between;

    @include md {
        justify-content: center;
    }
    

    gap: 4em;
}

.nav__logo{
    width: 20%;

    @include md{
        width: 10%;
    }
   
}

.nav__menu {
    @include sm {
        display: none;
    }

    @include md {
        display: block;
    }

}

.nav__menu li{
    list-style: none;
}
.nav__menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;

    transition: all 0.25s ease-in-out;
    
}
.nav__menu li a:not(:last-child) {
    margin-right: 2em;
}
.nav__menu li a:hover {
    color: $third-color;
}

.nav__menuBtn{
    width: 7%;

    margin-right: 1em;

    cursor: pointer;

    @include md{
        display: none;
    }

}
.nav__menuBtn img{
    max-width: 100%;
}
